@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

.article {
    display: block;
    margin: 1.5rem auto 1.5rem auto;
    text-align: center;
}

.article .article-description {
    font-weight: 300;
    font-size: 1rem;
    margin: .8em;
}

.article .article-link {
    font-weight: 400;
    font-size: 1.2rem;
}

body {
    font-family: 'Montserrat', serif;
    margin: 5% 10% 5% 10%;
}

#add-button-wrapper {
    display: flex;
    justify-content: center;
}

#add-button {
    margin: 1.5rem;
}

@media only screen and (min-width: 800px)
{
    #category-selection {
        margin: 0 20% 0 20%;
    }
}
